body * {
    box-sizing: border-box;
}

a {
    color:lightblue;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 auto;
}

.fields-wrap {
    display: flex;
}

fieldset {
    border: none;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 0;
}

input {
    width: 100%;
}

ul {
    list-style: none;
    padding: 0px;
}

#error-message {
    text-align: center;
    font-size: 40px;
    margin-top: 25%;
    color: red;

}

.hidden {
    display: none;
    transition: display 2s;
}

